.main-user {
    background-color: black;
    flex: 1;
}

.main-user-container .welcome {
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.main-user-container .edit-button {
    display: block;
    color: white;
    background-color: #00bc77;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 30px auto 30px auto;
}

