.trans-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    margin-bottom: 30px;
}

/* .trans {
}
 */
.trans .trans-heading {
    font-weight: normal;
    font-size: inherit;
}

.trans .amount-view-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount-view-container .amount {
    font-size: 40px;
    font-weight: bold;
}

.trans-container .view {
    color: white;
    background-color: #00bc77;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    margin-top: 30px;
    border-color: #00bc77;
}

@media screen and (max-width: 720px) {
    .trans-container {
        flex-direction: column;
    }

    .trans-container .view {
        width: 100%;
        margin-top: 20px;
    }
}
